{% extends 'core.html' %}
{% load static %}

{% block content %}
<section class="section pb-5">
    <div class="container">
      <div class="row mb-5 align-items-end">
        <div class="col-md-6" data-aos="fade-up">

          <h2>About Me</h2>
          <p class="mb-0">Without requirements or design, programming is the art of adding bugs to an empty text file.</p>
        </div>

      </div>

      <div class="row">
        <div class="col-md-4 ml-auto order-2" data-aos="fade-up">
          <h3 class="h3 mb-4">Skills</h3>
          <ul class="list-unstyled">
              {% for skill in skills %}
            <li class="mb-3">
              <div class="d-flex mb-1">
                <strong>{{ skill.title }}&nbsp</strong>
                <span class="ml-auto">{{ skill.percentage }}%</span>
              </div>
              <div class="progress custom-progress">
                <div class="progress-bar" role="progressbar" style="width: {{ skill.percentage }}%" aria-valuenow="{{ skill.percentage }}" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </li>
            {% endfor %}
          </ul>
        </div>

        <div class="col-md-7 mb-5 mb-md-0" data-aos="fade-up">
          <p><img src="{{ developer.image.url }}" alt="Image" class="img-fluid"></p>
          <p>Hello there! I am Filip, and I originate from Europe. I lived in Toronto for a bit, and I stopped my journey in Michigan.</p>
          <p>Currently, I possess an Associate Degree in IT - Programming. 2022 is my gap year where I am getting real-life programming experience, and in the upcoming fall (2022) I am going back to school to get my Bachelors's Degree in Computer Science.</p>
          <p>Does not matter if I am working or being enrolled in University, I always keep up my knowledge with Udemy & Official Software Documents.</p>
          <p>When I have spare time, I do love tutoring freshmen students who struggle to learn the Python Fundamentals and Python Advanced Concepts.</p>
          <p>Feel free to contact me via <a href="{% url 'contact' %}">Contact Page</a>.</p>
          <p><a href="{{ resume.resume.url }}" class="readmore" download>Download my CV</a></p>
        </div>

      </div>

    </div>

  </section>
{% endblock %}