{% extends 'core.html' %}

{% block content %}
<section class="section pb-5">
    <div class="container">

      <div class="row mb-5 align-items-end">
        <div class="col-md-6" data-aos="fade-up">
          <h2>Contact</h2>
          <p class="mb-0">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English.</p>
        </div>

      </div>

      <div class="row">
        <div class="col-md-6 mb-5 mb-md-0" data-aos="fade-up">

          <form action="{% url 'send_email' %}" method="post" role="form"> {% csrf_token %}

            <div class="row gy-3">
              <div class="col-md-6 form-group">
                <label for="name">Name</label>
                <input type="text" name="name" class="form-control" id="name" required>
              </div>
              <div class="col-md-6 form-group">
                <label for="name">Email</label>
                <input type="email" class="form-control" name="email" id="email" required>
              </div>
              <div class="col-md-12 form-group">
                <label for="name">Subject</label>
                <input type="text" class="form-control" name="subject" id="subject" required>
              </div>
              <div class="col-md-12 form-group">
                <label for="name">Message</label>
                <textarea class="form-control" name="message" cols="30" rows="10" required></textarea>
              </div>

              <div class="col-md-12 my-3">
                {% if message.id == 1 %}<div class="error-message"><span style="color: #cc0000">{{ message.msg }}</span></div> {% endif %}
                {% if message.id == 0 %}<div class="sent-message"><span style="color: #4BB543">{{ message.msg }}</span></div> {% endif %}
              </div>

              <div class="col-md-6 mt-0 form-group">
                <input type="submit" class="readmore d-block w-100" value="Send Message">
              </div>
            </div>

          </form>

        </div>

        <div class="col-md-4 ml-auto order-2" data-aos="fade-up">
          <ul class="list-unstyled">
            <li class="mb-3">
              <strong class="d-block mb-1">Location</strong>
              <span>Macomb, MI</span>
            </li>
            <li class="mb-3">
              <strong class="d-block mb-1">Phone</strong>
              <span>+1 (586) 646-6402</span>
            </li>
            <li class="mb-3">
              <strong class="d-block mb-1">Email</strong>
              <span>filipdimitrievski@protonmail.com</span>
            </li>
          </ul>
        </div>

      </div>

    </div>

  </section>
{% endblock %}